*{
    padding: 0;
    margin: 0;
}
.pricing{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding:0 70px ;
}
.pricing .pricingContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pricingContent h1{
    font-size: 40px;
    font-weight: 300;
}
.pricingContent p{
    color:gray;
    line-height: 1.7;
}
.pricingContent button{
    background: linear-gradient(135deg, #079643, #0cb76c);
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.pricingContent button:hover{
    background: linear-gradient(135deg, #0cb76c , #079643);
    
}
.pricingImage img{
    border-radius: 20px;
    
}
.pricingCard{
    margin-top: 80px;
    padding: 0 70px;
}
.pricingCard h1{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}
.pricingBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.pCard{
    width: 300px;
    height: 430px;
    border: 1px solid #E8E8E8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border-bottom: 2px solid #079643;

}
.pCard:hover{
    border: none;
}
.pCard .iconCircle{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pCard .iconCircle i{
    color: #079643;
    font-size: 20px;
} 
.pCard .iconCircle p{
    color: gray;
    font-size: 12px;
}
.priceBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.priceBox span{
    margin-bottom: -8px;
    font-size: 12px;
    margin-left: -25px;
    color: gray;


}
.priceBox a{
    text-decoration: none;
    background: linear-gradient(135deg, #079643, #0cb76c);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 180px;
    text-align: center;
    margin-top: 20px;

}
.priceBox a:hover{
 background: linear-gradient(135deg, #0cb76c , #079643);
    
}
.pCard h3{
    margin-top: 25px;
    font-size: 18px;
}
.pCard .list ul{
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: gray;
}
.pCard .list ul li{
    position: relative;
    padding-left: 28px; 
}
.pCard .list ul li i{
    margin-right: 10px;
    color: #079643;
    position: absolute;
    left: 0;
    top: 4px;
}
